🏠 Home                fa-house <i class="fa-solid fa-house"></i>

💻 Computer Support    fa-laptop-medical <i class="fa-solid fa-laptop-medical"></i>

🏢 Business Technology fa-building <i class="fa-solid fa-building"></i>

🤖 AI Automation       fa-robot <i class="fa-solid fa-robot"></i>

👤 About              fa-circle-info <i class="fa-solid fa-circle-info"></i>

⭐ Reviews             fa-star <i class="fa-solid fa-star"></i>

✉ Contact             fa-envelope <i class="fa-solid fa-envelope"></i>

✔ Recommended Products fa-circle-check <i class="fa-solid fa-list-check"></i>